/**
 * @file
 * Installation styling.
 *
 * Unfortunately we have to make our styling quite strong, to override the
 * .in-maintenance styling.
 */
.install-background {
  background-color: #1275b2;
  background-image: url(../images/noise-low.png), -webkit-radial-gradient(hsl(203, 80%, 45%), hsl(203, 80%, 32%));
  background-image: url(../images/noise-low.png), -moz-radial-gradient(hsl(203, 80%, 45%), hsl(203, 80%, 32%));
  background-image: url(../images/noise-low.png), -o-radial-gradient(hsl(203, 80%, 45%), hsl(203, 80%, 32%));
  background-image: url(../images/noise-low.png), radial-gradient(hsl(203, 80%, 45%), hsl(203, 80%, 32%));
  background-repeat: repeat;
  background-position: left top, 50% 50%;
  min-height: 100%;
}

/**
 * Password widget
 */
.install-page .password-parent,
.install-page .confirm-parent {
  width: auto;
}

.install-page .form-item .password-suggestions {
  float: none;
  width: auto;
}

.install-page table td {
  word-break: break-word;
}

@media all and (max-width: 1010px) and (min-width: 48em) {
  .install-page .password-strength,
  .install-page .confirm-parent {
    width: 100%;
  }
  .install-configure-form .form-type-password {
    float: left;
    width: 100%;
  }
  input.password-confirm,
  input.password-field {
    float: none;
  }
  div.password-confirm {
    float: none;
    width: auto;
    max-width: 100%;
  }
}
