.layout-container {
  margin: 0 1.5em;
}
.layout-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 38em) {
  .layout-container {
    margin: 0 2.5em;
  }
  .layout-column {
    float: left;  /* LTR */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  [dir="rtl"] .layout-column {
    float: right;
  }
  .layout-column + .layout-column {
    padding-left: 10px;
  }
  .layout-column.half {
    width: 50%;
  }
  .layout-column.quarter {
    width: 25%;
  }
  .layout-column.three-quarter {
    width: 75%;
  }
}

/*----- Smartphones (portrait) ----- */
@media only screen and (max-width : 320px) {
  .theme-selector {
    width: 100%;
    display: inline-block;
    float: left;
    max-width: 251px;
    padding: 20px 15px 0px 15px;
  }

  .theme-selector .screenshot,
  .theme-selector .no-screenshot {
    width: 231px;
    height: 183px;
  }

  .system-themes-list-disabled .theme-info {
    width: 221px;
  }

  .system-themes-list-disabled .theme-selector {
    border: none;
    display: inline-block;
    opacity: 0.5;
    padding: 20px !important;
    vertical-align: top;
    max-width: 241px;
    width: 100%;
    min-height: 345px;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    min-height: 350px;
  }

  .system-themes-list-disabled .screenshot,
  .system-themes-list-disabled .theme-selector .no-screenshot {
    width: 221px !important;
    max-width: 240px;
    height: 180px;
    line-height: 180px;
    background: #fff;
  }
}
