{#
/**
 * @file
 * terabit's theme implementation for the content of an administrative block.
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 * - content: List of administrative menu items. Each menu item contains:
 *   - url: Path to the admin section.
 *   - title: Short name of the section.
 *   - description: Description of the administrative menu item.
 * - attributes: HTML attributes to be added to the element.
 *
 * @see template_preprocess_admin_block_content()
 * @see terabit_preprocess_admin_block_content()
 */
#}
{% if content %}
  <ul{{ attributes }}>
    {% for item in content %}
      <li><a href="{{ item.url }}"><span class="label">{{ item.title }}</span><div class="description">{{ item.description }}</div></a></li>
    {% endfor %}
  </ul>
{% endif %}
