{#
/**
 * @file
 * terabit's theme implementation for displaying a tablesort indicator.
 *
 * Available variables:
 * - style: Either 'asc' or 'desc', indicating the sorting direction.
 * - arrow_asc: URL to the image for an ascending arrow.
 * - arrow_desc: URL to the image for a descending arrow.
 */
#}
{% if style == 'asc' -%}
  <img src="{{ arrow_asc }}" width="9" height="5" alt="{{ 'Sort ascending'|t }}" title="{{ 'Sort ascending'|t }}" />
{% else -%}
  <img src="{{ arrow_desc }}" width="9" height="5" alt="{{ 'Sort descending'|t }}" title="{{ 'Sort descending'|t }}" />
{% endif %}
