/**
 * @file
 * Styling dropbuttons.
 */

/**
 * Reset styling for all elements.
 */
.js .dropbutton .dropbutton-action > input,
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .dropbutton-action > button {
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}
.js .dropbutton-action.last {
  border-radius: 0;
}

/**
 * Overwrite terabits button styling.
 */
.dropbutton-widget .button {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.dropbutton-multiple .dropbutton {
  border-right: 0; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left: 0;
}

/**
 * Copied styling for .button.
 */
.js .dropbutton-multiple .dropbutton-widget {
  border: 1px solid #063149;
  background-color: #0074c1;
}
.dropbutton-multiple.open .dropbutton-widget {
  border-radius: 0;
}
.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  padding: 4px 1.5em;
  display: block;
  width: 100%;
}
[dir="rtl"].js .dropbutton-widget .dropbutton-action a,
[dir="rtl"].js .dropbutton-widget .dropbutton-action input,
[dir="rtl"].js .dropbutton-widget .dropbutton-action button {
  border-radius: 0;
}
.js .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-widget .dropbutton-action input:focus,
.js .dropbutton-widget .dropbutton-action button:focus {
  text-decoration: none;
}
.js .dropbutton-multiple.open .dropbutton-action a,
.js .dropbutton-multiple.open .dropbutton-action .button {
  border-radius: 0;
}
.js .dropbutton-multiple.open .dropbutton-action:first-child a,
.js .dropbutton-multiple.open .dropbutton-action:first-child .button {
  border-radius: 0; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:first-child a,
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:first-child .button {
  border-radius: 0;
}
.js .dropbutton-multiple.open .dropbutton-action:last-child a,
.js .dropbutton-multiple.open .dropbutton-action:last-child .button {
  border-radius: 0; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:last-child a,
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:last-child .button {
  border-radius: 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {
  background-color: #215da1;
  color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
  z-index: 3;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active {
  text-decoration: none;
  background-color: #dfdfd9;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
.dropbutton .secondary-action {
  border-top: 1px solid #223e64;
}

/**
 * Rare instances when a dropbutton is actually just a button.
 * Copied from terabit's buttons.theme.css.
 */
.dropbutton-single .dropbutton-widget {
  border: 0;
}
.dropbutton-single .dropbutton-action a {
  padding: 4px 1.5em;
  border: 1px solid #063149;
  background-color: #0074bd;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  width: auto!important;
}
.dropbutton-single .dropbutton-action a:focus,
.dropbutton-single .dropbutton-action a:hover {
  background-color: #215da1;
  color: #fff;
  text-decoration: none;
  outline: none;
}
.dropbutton-single .dropbutton-action a:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
}
.dropbutton-single .dropbutton-action a:active {
  background-color: #dfdfd9;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/**
 * The dropdown trigger.
 */
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-left: 1px solid #223e64; /* LTR */
  outline: none;
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-right: 1px solid #223e64;
  border-left: 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0; /* LTR */
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0;
}
.dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0; /* LTR */
}
[dir="rtl"] .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #215da1;
  color: #1a1a1a;
  text-decoration: none;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
  z-index: 3;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
  background-color: #215da1;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
.dropbutton-arrow {
  border-top-color: #333;
  right: 35%;
  top: 54%;
}
.dropbutton-multiple.open .dropbutton-arrow {
  border-bottom: 0.3333em solid #333;
  border-top-color: transparent;
  top: 0.6667em;
}

/**
 * Form edit action theming.
 * Copied styling from .button--primary.
 */
.js .form-actions .dropbutton .dropbutton-action > * {
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
}
.js .form-actions .dropbutton-widget {
  border-color: #1e5c90;

  text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
  position: relative;
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus {
  background-color: #2369a6;
  box-shadow: 0 1px 2px hsla(203, 10%, 10%, 0.25);
  color: #fff;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:active {
  border-color: #144b78;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button,
.form-actions .dropbutton .secondary-action {
  border-color: #1e5c90;
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #2369a6;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
  border-color: #144b78;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
.form-actions .dropbutton-arrow {
  border-top-color: #fff;
}
.form-actions .dropbutton-multiple.open .dropbutton-arrow {
  border-bottom: 0.3333em solid white;
}
